<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <% @blog_posts.each do |blog_post| %>
      <div class="box <%= cycle("e1", "e2") %>">
        <%= bp.media %>
        <%= link_to 'Show', blog_post %>
      </div>
    <% end %>
